nodered/flow.json
[
    {
        "id": "20bea9b33f4663ad",
        "type": "tab",
        "label": "MQTT to InfluxDB Flow",
        "disabled": false,
        "info": "Flow voor joystick en button data van MQTT naar InfluxDB",
        "env": []
    },
    {
        "id": "b6f176780a4d03c2",
        "type": "mqtt in",
        "z": "20bea9b33f4663ad",
        "name": "Joystick MQTT",
        "topic": "joystick",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a36c6c23d6e8f15f"
            ]
        ]
    },
    {
        "id": "a36c6c23d6e8f15f",
        "type": "function",
        "z": "20bea9b33f4663ad",
        "name": "Valideer Joystick data",
        "func": "// Parse JSON indien nodig\nlet data;\ntry {\n    if (typeof msg.payload === 'string') {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.warn(\"Invalid JSON: \" + msg.payload);\n    return null;\n}\n\n// x en y moeten tussen -1 en 1 liggen\nif (typeof data.x !== 'number' || typeof data.y !== 'number') {\n    node.warn(\"Missing x or y values\");\n    return null;\n}\n\nif (data.x < -1 || data.x > 1 || data.y < -1 || data.y > 1) {\n    node.warn(\"Values out of range: x=\" + data.x + \", y=\" + data.y);\n    return null;\n}\n\n// Format voor InfluxDB\nmsg.payload = {\n    x: data.x,\n    y: data.y\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "2671ea0d8cfc421c",
                "86da12df7580c5fa"
            ]
        ]
    },
    {
        "id": "2671ea0d8cfc421c",
        "type": "influxdb out",
        "z": "20bea9b33f4663ad",
        "influxdb": "influx_config",
        "name": "Naar InfluxDB sturen",
        "measurement": "joystick",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Dectronics",
        "bucket": "controller",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "86da12df7580c5fa",
        "type": "debug",
        "z": "20bea9b33f4663ad",
        "name": "Debug Joystick",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "ced19651c436fe64",
        "type": "mqtt in",
        "z": "20bea9b33f4663ad",
        "name": "Buttons MQTT",
        "topic": "buttons",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "cfa08f284e4ab8f6"
            ]
        ]
    },
    {
        "id": "cfa08f284e4ab8f6",
        "type": "function",
        "z": "20bea9b33f4663ad",
        "name": "Valideer Knop Data",
        "func": "// Parse JSON indien nodig\nlet data;\ntry {\n    if (typeof msg.payload === 'string') {\n        data = JSON.parse(msg.payload);\n    } else {\n        data = msg.payload;\n    }\n} catch (e) {\n    node.warn(\"Invalid JSON: \" + msg.payload);\n    return null;\n}\n\n// Buttons moeten 0 of 1 zijn\nconst buttons = ['A', 'B', 'X', 'Y'];\nfor (let btn of buttons) {\n    if (data[btn] !== 0 && data[btn] !== 1) {\n        node.warn(\"Invalid button value for \" + btn + \": \" + data[btn]);\n        return null;\n    }\n}\n\n// Format voor InfluxDB als single object\nmsg.payload = {\n    A: data.A,\n    B: data.B,\n    X: data.X,\n    Y: data.Y\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "f6a9da2a6034f539",
                "aafd5bc341b6fbe9"
            ]
        ]
    },
    {
        "id": "f6a9da2a6034f539",
        "type": "influxdb out",
        "z": "20bea9b33f4663ad",
        "influxdb": "influx_config",
        "name": "Naar InfluxDB sturen",
        "measurement": "buttons",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Dectronics",
        "bucket": "controller",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "aafd5bc341b6fbe9",
        "type": "debug",
        "z": "20bea9b33f4663ad",
        "name": "Debug Buttons",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "InfluxDB v2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "1196eb5925018eb6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]